<div class="wrapper" style="margin-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><a href="/nighty">Add your blog post bro!</a></p>
            </div>
        </div>
    </div>
</div>
