<<!DOCTYPE html>
<html>
<head>
    <title>Keep In Touch With Wes</title>
</head>
<body>
    <div class="container">
        <p>Hello <%= @user.name %>, </p>
        <p>It was so nice meeting you today! Below are links to my social media, projects, and resume: </br>
            <p>
                <a href="https://www.linkedin.com/in/wesrodgers"class="btn btn-social-icon btn-linkedin">
                <i class="fa fa-linkedin"></i>
                </a>

                <a href="https://twitter.com/wesrodgers_LA"class="btn btn-social-icon btn-twitter">
                <i class="fa fa-twitter"></i>
                </a>

                <a href="https://github.com/wesr7"class="btn btn-social-icon btn-github">
                <i class="fa fa-github"></i>
                </a>

                <a href="https://shredzilla.herokuapp.com" class="btn btn-default btn-md ">
                <i class="glyphicon glyphicon-link"></i>
                </a>
                SHREDZILLA


                <a href="https://grub1out.herokuapp.com" class="btn btn-default btn-md ">
                <i class="glyphicon glyphicon-link"></i>
                </a>
                Grub1Out

                <a href="https://drive.google.com/file/d/1CtfD3Z8vN_HpoW8paAAqmKMnMPylXyRbZyo_qx37TOxU-qaQUCKiY2_xD-jO/view?usp=sharing" class="btn btn-default btn-md">
                <i class="glyphicon glyphicon-open-file"></i>
                </a>
                Resume

            </p>
        </p>
        <p>Contact me anytime! I hope to hear from you soon. <br /><br />  Best, <br /><br />  Wes Rodgers <br /> Full Stack Web Developer <br /> 323.854.9438</p>
    </div>
</body>
</html>