<div class="container" style="width: 100%; height: 100vh; background-size: cover; background-image: url(<%= asset_path 'typing.JPG' %>); background-position: center top;">

<div clas="row">
<h1 class="text-center">Let's Keep In Touch</h1>
</div>
 <%= render 'form' %>
</div>




