<!DOCTYPE html>
<html>
<head>
  <title>Wes Rodgers | Full Stack Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id="home">
<div class="container">
  <nav data-scroll-header class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-lg">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-brand-text"  data-scroll data-options='{"easing":"easeInOutQuad"}' href="#home"><img class="" src="" name="" id="" class="" alt="" title="">Wes Rodgers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                  <li><a data-scroll data-options='{"easing":"easeInOutQuad"}' href="#about">About</a></li>
                  <!-- <li><a data-scroll data-options='{"easing":"easeInOutQuad"}' class="" href="#technologies">Technologies</a></li> -->
                  <li><a data-scroll data-options='{"easing":"easeInOutQuad"}' class="" href="#portfolio">Portfolio</a></li>
                  <li><a data-scroll data-options='{"easing":"easeInOutQuad"}' class="" href="#contact">Contact</a></li>
                 <!--  <li><a href="#blog">Blog</a></li> -->
                </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>

  <%= yield %>

    <div class="row footer">
      <div class="col-xs-12">
          <p>Wes Rodgers // 2015</p>
      </div>
    </div>
  </div>
</div>







</body>

<script>

// Start midnight
$(document).ready(function(){
  $('.navbar-fixed-top').midnight();
});
 smoothScroll.init();

// $(document).ready(function(){
//     setTop();
// });

// $(window).resize(function(){
//   setTop();

// });

</script>
</html>
