<!DOCTYPE html>
<html>
<head>
  <title>Wes Rodgers | Full Stack Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-transparent">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="" name="" id="" class="" alt="" title="">wes rodgers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                  <li><a class="" href="#about">About</a></li>
                  <li><a class="" href="#portfolio">Portfolio</a></li>
                  <li><a class="" href="#contact">Contact</a></li>
                </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
  </nav>
</div>
<div class="main-image"></div>
<div id="slide">
  <ul class="slides">
      <li class="slide"><img src="" alt=""></li>
      <li class="slide"><img src="" alt=""></li>
      <li class="slide"><img src="" alt=""></li>
      <li class="slide"><img src="" alt=""></li>
  </ul>
</div>
<%= yield %>

</body>
</html>
